/*Google Font Setup*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  box-sizing: border-box;
}

.rectangle {
  width: 1428px;
  height: 806px;
  position: absolute;
  right: 0px;
  top: 128px;
  fill: var(--amber-100, #fef3c7);
  background-image: url('/template_application/assets/img-icons/background/rectangle.svg');
}

:root {
  --amber-50: #fffbeb;
  --amber-100: #fef3c7;
  --amber-200: #FDE68A;
  --amber-400: #fbbf24;
  --amber-500: #f59e0b;
  --amber-900: #78350f;
  --blue-gray-200: #e2e8f0;
  --blue-gray-600: #475569;
  --blue-gray-700: #334155;
  --blue-gray-900: #0f172a;
  --floral-white: #fefcf2;
  --snow: #fffef9;
  
}

/* Navbar sectin. Üst menü kısmı*/
.navbar {
  padding: 24px 0;
}
.nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: 2px;
  letter-spacing: 0.5px;
  color: var(--amber-900);
  padding: 12px, 8px, 12px, 8px;
  gap: 8px;
}
.navbar-brand {
  color: var(--amber-900);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}
.navbar-brand:hover {
  color: var(--amber-400);
  transition: 0.4s;
}
.signup {
  width: 149px;
  height: 48px;
  border: 2px solid var(--amber-900);
  border-radius: 8px;
  padding: 12px;
}
/* Navbar section end. Üst menü sonu*/

/* Main section. Sneaker bölümü*/
.main {
  padding: 80px 0;
}
.main .sneaker-f {
  gap: 32px;
  z-index: 9;
}
.main .container .sneaker-f span{
    color: var(--blue-gray-900);
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
}
.main .wrapper {
  gap: 80px;
}
.main .signup-m {
  width: 179px;
  height: 56px;
  color: var(--amber-900);
  border: 2px solid var(--amber-900);
  border-radius: 8px;
  padding: 16px;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.main .watch-button {
  width: 152px;
  height: 48px;  
  color: var(--amber-900);
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-style: normal;
  border-radius: 8px;
  font-weight: 500;
  line-height: 24px;
  Padding: 12px, 8px, 12px, 8px;
  letter-spacing: 0.5px;
}
.main .title {
  color: var(--blue-gray-900);
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 79.2px;
}
.main .sneaker {
    z-index: 9;
    position: relative;
    bottom: 25px;
    right: 30px;
}
.sneaker-bg{
    position: absolute;
    width: 367px;
    height: 372px;
    top:191px;
    left: 1025px;
    border-radius:50px;
    gap: 10px; 
}
.features span {
  font-size: 18px;
  padding-right: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}
.features .features-wrapper {
  gap: 80px;
}
.features .img-w1,
.img-w2,
.img-w3 {
  position: relative;
  width: 64px;
  height: 64px;
}
.features .img-w1:before {
  content: url('/template_application/assets/img-icons/icons/main/Rectangle\ 25.svg');
  position: absolute;
  top: 0;
  right: -22px;
}
.features .img-w2:before {
  content: url('/template_application/assets/img-icons/icons/main/Rectangle\ 26.svg');
  position: absolute;
  top: 0;
  right: 0;
}
.features .img-w3:before {
  content: url('/template_application/assets/img-icons/icons/main/Rectangle\ 27.svg');
  position: absolute;
  top: 0;
  right: -20px;
}
/* Main section end. Sneaker bölümü sonu*/

/* Best Section - The best of best kısmı*/
.best-section{
    width: 100%;
    height: 776px;
    border: 1px 0px 1px 0px;
    border-color: var(--blue-gray-200);
    gap: 80px;
    padding: 80px;
    background-color: var(--blue-gray-900);
    margin-top: 75px;
}
.best-section .container .title{
    width: 1280px;
    height: 64px;
    gap: 80px;
}
.best-section .container .title h2{
    font-weight: 800;
    font-size: 56px;
    line-height: 61.6px;
    color: #FFFFFF;
}
.best-section .container .title button{
    width: 233px;
    height: 64px;
    border-radius: 8px;
    border: 2px solid;
    padding: 20px 24px 20px 24px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.5px;
}
.best-section .card-container{
    margin-top: 85px;
    z-index: 9;
    position: relative;
}
.best-section .card{
    width: 394.67px;
    height: 472px;
    border-radius: 10px;
    border: 1px solid rgba(15, 23, 42, 1);
    background-color: var(--blue-gray-900);
    color: #FFFFFF;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07);
    box-shadow: 0px 25px 50px -12px rgba(255, 255, 255, 0.25);
}
.best-section .container .card-img {
    width: 394.67px;
    height: 220px;
    border-radius: 4px;
    gap: 10px;
}
.best-section .card .card-title{
    width: 330px;
    height: 26px;
    font-weight: 700;
    gap: 8px;
    font-size: 24px;
    line-height: 26.4px;
    padding-left: 25px;
    padding-top: 15px;
}
.best-section .card .card-body .card-text{
    width: 330.67px;
    height: 58px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    font-style: normal;
    color: rgba(255, 255, 255, 1);
    padding-left: 25px;
    padding-top: 25px;
    margin-bottom: 50px
}
.best-section .card a{
    width: 330.67px;
    height: 56px;
    border-radius: 8px;
    padding: 16px;
    border: 2px solid rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
}
.best-section .best-section-bg{
  position: absolute;
  width: 1358px;
  height: 527px;
  top: 1130px;
}
/* Best section end. The best of best kısmı sonu*/

/* Join Us section, Join us section başlangıcı*/
.join-us-section{
    width: 100%;
    height: 816px;
    background-color: var(--floral-white);
    padding :160px, 80px, 160px, 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.join-us-section .container{
  width: 1280px;
  height: 496px;
  border-radius: 30px;
  padding: 80px;
  gap: 80px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
}
.join-us-section .container .card:first-child{
  width: 520px;
  height: 274px;
  border: none;
}
.join-us-section .container .card .card-body .card-title {
  width: 520px;
  height: 62px;
  gap: 24px;
  font-weight: 800 ;
  font-size: 56px;
  line-height: 61.6px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--blue-gray-900);
}
.join-us-section .container .card .card-body .card-text{
  width: 489px;
  height: 108px;
  margin-top: 25px;
}
.join-us-section .container .card .card-body .card-text div{
  border-radius: 20px;
  gap: 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: var(--blue-gray-900);
}
.join-us-section .container .card .card-body .btn{
  width: 179px;
  height: 56px;
  border-radius: 8px;
  border: 2px solid rgba(120, 53, 15, 1);
  padding: 16px;
  color: var(--amber-900);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 28px;
}
.join-us-section .container .card .screen{
  width: 520px;
  height: 350px;
  border-radius: 20px;
  border: 5px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  position: relative; 
  overflow: hidden;
  z-index: 9;
}
.join-us-section .container .card .screen .top-bar{
  width: 520px;
  height: 41px;
  padding: 8px 16px 8px 16px;
  gap: 28px;
  background-color: #FFFFFF;
}
.join-us-section .container .card .screen .screen-video{
  width: 520px !important; 
  height: 309px !important;
  border-radius: 4px !important;
  gap: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
}
.join-us-section .container .card .screen .screen-video img {
  width: 100%;
  height: 110%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.join-us-section .join-us-section-bg{
  width: 713px;
  height: 625.24px;
  position: absolute;
  right: 170px;
}
/* Join us section end. Join us kısmı sonu*/

/* Love us section, Love us kısmı başlangıç*/
.love-us-section{
  width: 100%;
  height: 732px;
  padding: 80px;
  gap: 80px;
  background-color: var(--snow);
}
.love-us-section .love-us-top-bar{
  width: 1280px;
  height: 62px;
  gap: 48px;
}
.love-us-section .love-us-top-bar .top-bar-text{
  width: 1112px;
  height: 62px;
  gap: 8px;
  font-weight: 800;
  font-size: 56px;
  line-height: 61.6px;
  color: var(--blue-gray-900);
}

.love-us-section .container{
  position: relative;
  justify-content: space-between;
  background-color: white;
}

.love-us-section .slide-container{
  overflow: hidden;
  background-color: #FDE68A;
  border-radius: 20px;
}

.love-us-section .card{
  display: flex;
  width: 384px;
  height: 430px;
  padding: 32px;
  column-gap: 16px;
  background-color:  #ffffff;
  border-radius: 20px;
  margin-top: 35px;
}
.love-us-section .card .card-title{
  width: 320px;
  height: 64px;
  padding: 16px 0px 16px 0px;
  font-weight: 700;
  font-size: 24px;
  line-height: 26.4px;
}

.love-us-section .card .card-title img{
  gap: 8px;
}

.love-us-section .card .profile-details{
  width: 320px;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 16px 0px 0x 0px;
}


.love-us-section .card .profile-details .name{
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  color: black;
}

.love-us-section .card .profile-details .job{
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: var(--blue-gray-600);
}
.love-us-section .card .profile-details img {
  border-radius: 100px;
  gap: 10px;
  padding-right: 15px;
}

.swiper-button-next {
  top: 0px !important;
  right: 80px !important;
  z-index: 1 !important;
}
.swiper-button-next:hover{
  transform: scale(1.1);
  transition: transform 0.4s ease;
}
.swiper-button-next:after {
  content: '' !important;
}
.swiper-button-prev {
  left: auto !important;
  top: 0px !important;
  right: 150px !important;
  z-index: 1 !important;
}
.swiper-button-prev:hover{
  transform: scale(1.1);
  transition: transform 0.4s ease;
}
.swiper-button-prev:after {
  content: '' !important;
}
/*love-us-section end love us bölüm sonu*/

/*Grow Section - Grow Section başlangıç*/

.grow-section{
  width: 100%;
  height: 996px;
  padding: 80px 80px 128px 80px;
  gap: 80px;
  background-color: var(--snow);
  position: relative;
}
.grow-section .container{
  width: 1280px;
  height: 152px;
  gap: 32px;
}
.grow-section .container .container-title{
  width: 1280px;
  height: 62px;
  gap: 8px;
  font-weight: 800;
  font-size: 56px;
  line-height: 61.6px;
  color: var(--blue-gray-900);
  margin-bottom: 35px;
}
.grow-section .container .container-body{
  width: 1280px;
  height: 58px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  color: var(--blue-gray-900);
}

.grow-section .second-c{
  width: 100%;
  height: 684px;
  background-color: var(--snow);
}

.grow-section .second-c .little-c{
  width: 1280px;
  height: 556px;
  gap: 80px;
  margin-top: 70px;
}

.grow-section .second-c .little-c .grow-menu{
  display: flex;
  flex-direction: column;
  width: 256px;
  height: 416px;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
  color: var(--blue-gray-900);
}
.grow-section .second-c .little-c .grow-media{
  width: 944px;
  height: 556px;
  gap: 10px;
  
  overflow: hidden;
}

.grow-section .second-c .little-c .grow-menu .grow-menu-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.grow-section .second-c .little-c .grow-menu .grow-menu-list .list-items{
  display: flex;
  width: 256px;
  height: 56px;
  border-radius: 8px;
  padding: 16px;
  align-self: flex-start;
  align-items: center;
  color: var(--blue-gray-900);
}
.grow-section .second-c .little-c .grow-menu .grow-menu-list .list-items:first-child{
  box-shadow: 0px 0px 4px 0px #00000012;
  box-shadow: 0px 4px 6px -1px #0000001A;
  color: #FFFFFF;
}
.grow-section .second-c .little-c .grow-menu .grow-menu-list .list-items .list-items-text{
  text-decoration: none;
  color: var(--blue-gray-900);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding: 0px 16px 0px 16px;
  white-space: nowrap;
}
.grow-section .second-c .little-c .grow-media .card{
  position: relative;
  border: 5px solid #FFFFFF
}

.grow-section .second-c .little-c .grow-media .big-card{
  width: 759px;
  height: 451px;
  border-radius: 20px;
  gap: 10px;
  border: 5px solid #FFFFFF;
  background-color: #FFFFFF;
  position: relative; 
  overflow: hidden;
}

.grow-section .second-c .little-c .grow-media .big-card .grow-media-top-bar{
  width: 759px;
  height: 26px;
  padding: 8px 16px 8px 16px;
  gap: 28px;
  background-color: #FFFFFF;
 
}
.grow-section .second-c .little-c .grow-media .big-card .grow-media-image{
  width: 759px;
  height: 410px;
  border-radius: 4px;
  gap: 10px;
  position: relative;
  overflow: hidden;
}
.grow-section .second-c .little-c .grow-media .back-side{
  z-index: 2;

}
.grow-section .second-c .little-c .grow-media .front-side{
  position: absolute;
  bottom: 133px;
  right: 180px;
  z-index: 3;
}
.grow-section .second-c .little-c .grow-media .little-card{
  position: absolute;
  z-index: 5;
  right: 40px;
  bottom: 130px;
  object-fit: cover;
}

.grow-section .grow-bg{
  position: absolute;
}
.grow-section .grow-bg .vec1{
  position: absolute;
  bottom: 1px;
}
.grow-section .grow-bg .vec2{
  position: absolute;
  bottom: 1px;
  
}
.grow-section .grow-bg .vec3{
  position: absolute;
  bottom: -10px;
}
/*Grow section end - Grow section bölüm sonu*/

/* Last section - Last section başlangıç*/
.last-section {
  width: 100%;
  height: 717px;
  border: 1px 0px 1px 0px;
  padding: 80px;
  gap: 80px;
  background-color: var(--amber-900);
  position: relative;
}

.last-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.last-section .world-map {
  max-width: 100%;
  max-height: 100%;
  opacity: 50%;
}

.last-section .second-image {
  position: absolute;
  top: 70px;
  left: 705px;
  transform: translateX(-50%);
}
.titles {
  width: 1280px;
  height: 176px;
  gap: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.title-top {
  font-size: 96px;
  font-weight: 800;
  line-height: 105.6px;
  color: #fff;
}
.title-bottom {
  font-weight: 800;
  font-size: 56px;
  line-height: 61.6px;
  color: #fff;
}

.last-section .shoes-contain{
  width: 256px;
  height: 200px;
  position: absolute;
  object-fit: cover;
  top:-40px;
  left: 142px;
  z-index: 5;
}
.last-section .shoes-contain-body{
  width: 250px;
  height: 64px;
  padding: 16px 16px 8px 16px;
  background-color: var(--blue-gray-200);
  border-radius: 5px;
  box-shadow: 0px 0px 15px 0px #00000012;
  box-shadow: 0px 25px 50px -12px #00000040;
  position: absolute;
  top: 175px;
  left: 171px;
}
.last-section .shoes-contain-body .shoes-contain-text{
  font-weight: 500;
  font-size: 14px;
  line-height: 15.4px;
  color: var(--blue-gray-900);
}

.last-section .shoes-contain-body .shoes-contain-img{
  position: absolute;
  left: 110px;
  top: 55px;
}
.last-section .shoes-contain-body .shoes-contain-arrow{
  position: absolute;
  left: 120px;
}
/* Last section end - Last section bölüm sonu*/

/* Footer section - Footer section başlangıç*/
.footer{
  width: 100%;
  height: 464px;
  padding: 0px 80px 0px 80px;
  background-color: var(--blue-gray-900);
}
.footer .first-main{
  width: 1280px;
  height: 368px;
  border-bottom: 1px solid var(--blue-gray-700);
  padding: 48px 0px 48px 0px;
  gap: 48px;
  color: var(--blue-gray-700);

}
.footer .first-main .container{
  width: 284px;
  height: 272px;
}
.footer .first-main .container .cont-list{
  list-style-type: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: var(--blue-gray-200);
}
.footer .first-main .container .cont-list .cont-list-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  color: #FFFFFF;
}

.footer .first-main .container .cont-list li{
  width: 284px;
  height: 46px;
  padding: 12px 0px 12px 0px;
  gap: 8px ;
}
.footer .first-main .container .cont-list .social{
  height: 24px;
  gap: 16px;
  margin-top: 15px;
}
.footer .first-main .container .cont-list .social img{
  padding-right: 15px;
}


/* Footer section end - Footer section bölüm sonu*/





/* Responsive */
@media(max-width:1920px){
    .navbar{
        width: 100%;
    }
}

@media (max-width: 900px) {
    .navbar-toggler-icon {
      background-image: url('/template_application/assets/img-icons/icons/navbar/menu-scale.png');
    }
    
    .navbar-toggler {
      border: none;
    }
    
    .navbar-nav {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .navbar-nav .nav-link {
      display: block;
      padding: 8px 16px;
    }
    
    .navbar-collapse {
      margin-top: 16px;
    }
    
    .main .container {
      flex-direction: column;
      align-items: center; 
      justify-content: center;
    }

    .main .container .sneaker-f span{
        font-size: 18px;
        align-items: center;
        text-align: center;
        font-weight: 400;
        line-height: 28.8px;
        color: var(--blue-gray-900);
    }

    .main .container .signup-m{
        margin-left: auto;
        margin-right: auto;
    }
    .main .container .watch-button{
        margin-left: auto;
        margin-right: auto;
    }

    .main .sneaker-f,
    .main .sneaker {
      text-align: center;
      margin-bottom: 32px;
      margin-right: auto;
      margin-left: auto;
    }
    
    .main .sneaker {
      right: 0;
      bottom: auto;
    }
    
    .main .sneaker-bg {
      position: absolute;
      width: 80%;
      left: 50%;
      margin: 0 auto;
      text-align: center;
      top: 610px;
      left: auto;
    }
    
    .features .features-wrapper {
        display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    .features .container span{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        align-items: center;
        padding-left: 35px;
    }
    
    .features .img-w1,
    .features .img-w2,
    .features .img-w3 {
      margin: 0 auto;
    }
  }